.hero {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapper {
  text-align: center;
  color: white;
}

.textWrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  max-width: 800px;
  margin: 0 auto;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.icon {
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #328abd;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.transparentButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.6);
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.transparentButton:hover {
  color: #328abd;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 4px 8px #328abd;
  transform: translateY(-2px);
}