/* styles/Layout.module.css */
.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.backgroundWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('/..public/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}